@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* 다이어리체 */
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* 강원교육모두체 Bold */
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
}

:root {
    /* color */
    --green: #136149;
    --grey: #969696;
    --dark-grey: #404040;
    --base : #F5F5F5;
    /* font size */
    --font-size1: 1.3rem;
    --font-size2: 1.7rem;
}
h1,h2,h3,h4{
    font-family: 'S-CoreDream-3Light';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 63px;
    font-family: 'KoPubDotumMedium';
    position: relative;
    font-size: var(--font-size1);
    color: var(--dark-grey);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: .34s;
}
.item-link {
    font-size: var(--font-size1);
}
.item-link:link { /*링크 방문 전*/
    color: var(--dark-grey);
}
.item-link:visited { /*링크를 방문한 이후*/
    color: var(--dark-grey);
}
.item-link:hover { /*마우스를 올려놓을 때*/
    color: var(--green);
    font-size: 1.4rem;
}
.nav-contaner{
    justify-content: center;
}
.under-line{
    max-width: 78%;
    margin: 30px 10%;
    display: flex;
    justify-content: center;
}
.list {
    display: flex;
    justify-content: center;
}
.h-menu{
    display: none; /* 숨기기 */
}
.item{
    column-gap: 7rem;
    display: flex;
    color: var(--dark-grey);
}
/* 강매 페이ㅣㅈ */
main {
    font-family: 'KoPubDotumMedium';
}
.slideShow{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1.2rem 0;
}
.shop {
    font-size: 1.4rem;
    color: var(--green);
}
.slide {
    margin: 4rem 8rem;
}
.slides {
    flex: 1 1 auto;
}
img {
    max-width: 1170px;
}
.feather {
    align-items: center;
    width: 63px;
    height: 63px;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin: 6rem 0;
  }

  /* 지구 머식; */
.check{
    margin: 8rem;
  }
.popch {
    font-size: 1.4rem;
    color: var(--green);
}
.cards {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.card {
    background-color: #f3f3f3;
    border-radius: 1rem;
    flex: 1 0 240px;
    transition: .4s;
}
.card-description {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}
.card-title {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.card-image {
    background: url("../img/풀.jpg") center center;
    background-size: cover;
    height: 0;
    padding-bottom: 70%;
    border-radius: 1rem 1rem 0 0;
}
.card-m{
    font-size: var(--font-size1);
}

/* q비비건 */
.vginpo{
    margin: 8rem;
}
.vg-m{
    font-size: 1.5rem;
    color: var(--green);
}
.vgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* 태블ㅇㄹ시 */
@media screen and (max-width: 600px) {
    .feather{
        display: none;
    }
}